{% extends 'base.html' %}

{% block content %}
<style>
    * {
        margin: 0px;
        padding: 0px;
    }

    .icons {
        text-align: center;
        margin-top: -35px;
    }

    .icons a {
        text-decoration: none;
        color: #fff;
    }

    .icons ion-icon {
        color: dimgray;
        font-size: 30px;
        padding-left: 14px;
        padding-top: 5px;
        transition: 0.3s ease;

    }

    .icons ion-icon:hover {
        color: #ff7200;
    }

    img {
        width: 400px;
        height: 400px;
        border: 2px solid;
    }
</style>
<div class="container-fluid mx-auto">
    <div class="card">
        <img src="static/Images//as.jpg" class="card-img" alt="...">
    </div>
</div>
<div
    style="border: 3px solid dimgray; border-radius: 22px;margin-left: 40px; margin-right: 40px; margin-top: 1px; background-color: #e3e0cf">
    <div style="margin-top: 12px; margin-left: 40px"> Posted By <b>Prem Singh</b> </div>
    <div style="text-align: end; margin-top: -12px; font-weight: bolder; margin-right: 42px;">February 11,2022</div><br>
    <div style="margin-top: -12px; font-weight: bolder; margin-left: 40px">Magic Safari</div>
    <div style="margin-left: 40px; margin-right: 42px;">is a complete destination management company. As one of the
        premier travel agents, we provide comprehensive travel solutions for leisure, group, corporate or educational
        purposes. Since our beginning in 2009, we have been growing rapidly and in the process of innovating new and
        flexible ideas.
        <br>
        <br>
        We are adaptable to our client’s needs and requests. We are undoubtedly one of the top travel companies in
        India. <br>
        Magic Safari has achieved more than brand leader status within India. With our associate office in almost every
        city, we have successfully extended top services to our prestigious customers. <br>
        <br>

        The Delhi-based company, with a strong presence in the inbound travel trade and corporate segment, today has
        excelled its branches over Delhi, Mumbai, Agra, Jaipur & Jammu & Kashmir. The company with its professionally
        managed travel engine specializes mainly in organizing Adventure, Cultural, Religious, Hill station & Wildlife
        tours in India through a sprawling network. We offer 24 X 7 hours services that include travel planning,
        itinerary design, hotel bookings, ticket reservations, and transport facilities. It also provides holiday
        packages, customized as per the client’s needs and budget. <br>
        <br>
        <div style="font-weight: bold">Why us?</div>Magic Safari is an award-winning travel organization and excels with
        quality services from its experienced staff. Over the years the company has received positive feedbacks from its
        existing clients and hence one can expect a cordial reception. <br>
        <br>
        <div style="font-weight: bold">Our Moto:</div>Customer satisfaction: It’s the prime motto of our business, which
        has helped us to build a good network with travelers from the farthest corners of the world. The company today
        holds more than 100,000 satisfied travelers and is still framing the travel diaries of fresh clients. <br>
        <br>
        <div style="font-weight: bold">Quality Services</div>Customer satisfaction can only be achieved by quality and
        time to time services. Knock us at any hour and from anywhere in the world, we are available. The company tries
        to give the ultimate satisfaction and luxury depending upon the traveler’s need. Whether you are on a trekking
        tour in India or a tranquil beach holiday, we provide you with a niche and satisfied tour along with certified
        guides. Further, the travel portal offers a wide range of services and specializes in providing tailor-made
        holidays and other travel needs to its valuable.
        Its portal and services <br>
        Magic Safari is an online travel platform where determination and commitment have always exceeded travelers’
        expectations. The platform provides information regarding all the destinations in India, from the remote
        lifestyle tucked in the Indian Himalaya to the underwater coral life of Andaman and from the tribes of North
        East India to the royal heritage of Rajasthan. <br>
        The travel portal also includes a wide range of information on hotels and resorts in India, from budget to
        heritage and luxury, as well as it scrolls down to wildlife safari tours, beach holidays, hill station tours,
        and adventure tours that include trekking, white water river rafting, peak climbing, mountaineering, mountain
        biking and motorbiking. Moreover, keeping in mind the need of leisure travelers, who seek to capture the rich
        heritage of India, the portal also offers various heritage, cultural, and pilgrimage. <br>
        <br>
        <div style="font-weight: bold">About the Services</div>Strong Associations with budget and luxury hotels across
        the country enable us to give our clients their best value for money. This trait of Magic Safari makes it the
        most attractive tour and travel agency for you. The team is prompt in their replies to your queries, which has
        earned a reputation as one of the best and most efficient tour and travel operators in India by clients and
        overseas partners. <br>
        <br>
        <div style="font-weight: bold">We Offer the following Services:</div>
        • Cultural Tours in India: <br>
        • Heritage Tours <br>
        • Adventure Tours in India: <br>
        • Educational Tour <br>
        • Enlightenment Journeys in India: <br>
        • Recreation Holidays in India: <br>
        • Special Interest Journeys in India: <br>
        • MICE <br>
        <br>
        <div style="font-weight: bold">What we Provide:</div>
        • Personalized assistance on arrival & departure. <br>
        • All sorts of transfers from car to coach in any city in India. <br>
        • Accommodation in all categories of hotels from budget to 5 Star hotels all over India. <br>
        • Multilingual guide services. <br>
        • Escort services. <br>
        • Air, train, and bus tickets. <br>
        • Sightseeing in comfortable chauffer driver cars to coaches. <br>
        • Special cultural theme events if any
        <br>
        Now you can have a comfortable and hassle-free holiday in India wherein you leave all the worries to us. Right
        from the arrival at the airport to personalized assistance of departure, we take care of all the needs of the
        travelers. Our guests just sit back and enjoy their holidays with all the value for the money they have spent.
    </div>
</div>
<div
      style="font-weight: bold; font-size: 22px; font-style: Times New Roman; margin-left: 30px; margin-top: 16px; margin-bottom: 25px;">
      Why Us </div>
<div class="container">
    <div class="row">
        <div class="col-sm-4">
            We are a leading player in the travel & tourism industry across India, Magic Safari offers great offers,
            some of
            the lowest travel packages, exclusive discounts, and a seamless online booking experience. Hotel and holiday
            bookings through the desktop or mobile site are a delightfully customer-friendly experience, and with just a
            few
            clicks you can complete your booking. With features like Instant Discounts, Calendar, MyRewards Program,
            MyWallet, and many more, the overall booking experience with magic safari constantly adds value to its
            product
            and continues to offer the best to its customers.
        </div>
        <div class="col-sm-4">
            50 Most romantic and best Honeymoon Destinations In India Best Honeymoon Destinations In India Most romantic
            Honeymoon Destinations
        </div>
        <div class="col-sm-4">
            <div style="font-weight: bolder; font-size: 22px;">Reach us</div>
            <div> Magic Safari</div> Travel Planners & Event Management Company <div>Faridabad</div>121002 <br>
            <div style="font-weight: lighter; font-style:bold; font-size: 22px;">Prem Singh</div>
        </div>
    </div>
</div>
</div>
<div style="text-align: center; margin-bottom: 35px; margin-top: 35px; font-weight: bold;">Follow Us</div>
<div class="icons">
    <a href="#">
        <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a href="#">
        <ion-icon name="logo-instagram"></ion-icon>
    </a>
    <a href="#">
        <ion-icon name="logo-twitter"></ion-icon>
    </a>
    <a href="#">
        <ion-icon name="logo-skype"></ion-icon>
    </a>
    <a href="#">
        <ion-icon name="logo-google"></ion-icon>
    </a>
</div>
</div>
</form>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}