{% extends 'base.html' %}
{% block content %}
<style>
    img{
        width:480px;
        height: 470px;
        border: 2px solid;
    }

    .Card-title,h1{
        align-items: center;
        position: absolute;
        font-style: normal;
        margin-top: 115px;
        margin-left: 305px;
        color: orange;
    }
    .Card-title:hover{
        color: white;
    }
    .text{
        position: absolute;
        color: orange;
        font-size: 20px;
        font-style: normal;
        align-items: center;
        margin-top: 170px;
        margin-left: 465px;
    }
    .text:hover{
        color: white;
    }

    .icons{
        text-align: center;
        margin-top: -35px;
      }
      .icons a{
        text-decoration: none;
        color: #fff;
      }
      
      .icons ion-icon{
        color: dimgray;
        font-size: 30px;
        padding-left: 14px;
        padding-top: 5px;
        transition: 0.3s ease;
        
      }
      
      .icons ion-icon:hover{
        color: #ff7200;
      }

</style>
<div class="container-fluid">
    <div class="card bg-dark text-white">
        <img src="static/Images//manali1.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h3  class="Card-title">Himachal Pradesh Archives - Magic Safari</h3>
            <a class="text" href="/">Home ⇒ Trips ⇒ Himachal Pradesh </a>
            <p class="card-text"></p>
        </div>
    </div>
</div>

<!-- title -->
<div style="font-size: 28px; font-weight: bold;margin-top: 80px; margin-left: 50px">Destination: Himachal Pradesh</div>
<div style="font-size: 17px; font-weight: lighter; margin-left: 50px">Himachal Pradesh – Himachal Pradesh is a northern Indian state in the Himalayas. It’s home to scenic mountain towns and resorts such as Dalhousie. Host to the Dalai Lama, Himachal Pradesh has a strong Tibetan presence. This is reflected in its Buddhist temples and monasteries, as well as its vibrant Tibetan New Year celebrations. The region is also well known for its trekking, climbing and skiing areas.</div>

<!-- Adding  -->
<div style="margin-top: 20px; margin-bottom: -16px;">
  <div class="card mb-1" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-9">
        <img src="static/Images//shimla.jpg"
          style=" margin-left: 35px; margin-top: 7px; margin-bottom: 10px; height: 350px;border: 2px solid silver; border-radius: 20px"
          class="card-img-top img-rounded" alt="...">
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <div
            style="font-weight: bold; font-size: 28px; margin-left: 45px; margin-right: -410px; margin-top: 24px; color: dimgray;">
            Honeymoon Tour in Shimla & Manali</div>
          <div style="margin-left: 40px; margin-right: -50px; text-align: center; font-weight: bold; font-size: 22px;">
            ₹24,500.00</div>
          <div style="text-align: end;">★★★★★</div>
          <div style="margin-left: 45px; margin-right: -700px; position: relative; display: flex; font-size: 17px;">
            Honeymoon Tour in Shimla & Manali – 3 Star Hotels – Ex Delhi Shimla Travel Guidelines – Hotels are open for booking. All passengers…</div>
          <div style="margin-left: 45px; text-align:center; margin-right: -35px; margin-top: 30px;"><button
              type="submit" class="btn-info active"><a style="text-decoration: none;color:black" href="/Contact">View Details</button></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- More -->
<div style="margin-top: 26px;font-weight: bold; font-style:arial;font-size:38px; margin-left: 55px;">Famous Places</div>
<div style="margin-top: 25px;">
  <div class="card-group">
    <div class="card">
      <img src="static/Images//kulu.jpg" style="height: 300px; width: 410px" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div style="font-size: 20px; font-weight:bold; text-align:center; margin-top: 100px">Kulu Manali</div>
        <div style=" text-align:center; margin-top: 10px"><a href="/Contact"><button type="submit" class="btn-info"><Em>ENQUIRY</Em></button></a></div>
      </div>
      <div class="card-footer">
        <div class="text-muted"></div>
      </div>
    </div>
    <div class="card">
      <img src="static/Images//kasauli.jpg" style="height: 300px; width: 410px"class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div style="font-size: 20px; font-weight:bold; text-align:center;margin-top: 90px">Kasauli</div>
        <div style=" text-align:center; margin-top: 10px"><a href="/Contact"><button type="submit" class="btn-info"><Em>ENQUIRY</Em></button></a></div>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <img src="static/Images//shimla1.jpg" style="height: 300px; width: 410px" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div style="font-size: 20px; font-weight:bold; text-align:center;margin-top: 90px">Shimla</div>
        <div style=" text-align:center; margin-top: 10px"><a href="/Contact"><button type="submit" class="btn-info"><Em>ENQUIRY</Em></button></a></div>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>

<!-- Adding why us -->
<div
      style="font-weight: bold; font-size: 22px; font-style: Times New Roman; margin-left: 30px; margin-top: 16px; margin-bottom: 25px;">
      Why Us </div>
  </div>
  <div style="background-color:aliceblue" class="container">
    <div class="row">
      <div class="col-sm-4">
        We are a leading player in the travel & tourism industry across India, Magic Safari offers great offers, some of
        the lowest travel packages, exclusive discounts, and a seamless online booking experience. Hotel and holiday
        bookings through the desktop or mobile site are a delightfully customer-friendly experience, and with just a few
        clicks you can complete your booking. With features like Instant Discounts, Calendar, MyRewards Program,
        MyWallet, and many more, the overall booking experience with magic safari constantly adds value to its product
        and continues to offer the best to its customers.
      </div>
      <div class="col-sm-4">
        50 Most romantic and best Honeymoon Destinations In India Best Honeymoon Destinations In India Most romantic Honeymoon Destinations
      </div>
      <div class="col-sm-4">
        <div style="font-weight: bolder; font-size: 22px;">Reach us</div>
        <div> Magic Safari</div> Travel Planners & Event Management Company <div>Faridabad</div>121002 <br>
        <div style="font-weight: lighter; font-style:bold; font-size: 22px;">Prem Singh</div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center; margin-bottom: 35px; margin-top: 35px; font-weight: bold;">Follow Us</div>
  <div class="icons">
    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
</div>
</div>
</form>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}