{% extends 'base.html' %}
{% block content %}
<style>
    img{
        width:480px;
        height: 470px;
        border: 2px solid;
    }

    .Card-title,h1{
        align-items: center;
        position: absolute;
        font-style: normal;
        margin-top: 195px;
        margin-left: 385px;
        color: white;
    }
    .Card-title:hover{
        color: orange;
    }
    .text{
        position: absolute;
        color: white;
        font-size: 20px;
        font-style: normal;
        align-items: center;
        margin-top: 245px;
        margin-left: 495px;
    }
    .text:hover{
        color: orange;
    }

    .icons{
        text-align: center;
        margin-top: -35px;
      }
      .icons a{
        text-decoration: none;
        color: #fff;
      }
      
      .icons ion-icon{
        color: dimgray;
        font-size: 30px;
        padding-left: 14px;
        padding-top: 5px;
        transition: 0.3s ease;
        
      }
      
      .icons ion-icon:hover{
        color: #ff7200;
      }

</style>
<div class="container-fluid">
    <div class="card bg-dark text-white">
        <img src="static/Images//ladakh2.jpg" class="card-img" alt="...">
        <div class="card-img-overlay">
            <h3  class="Card-title">Ladakh Archives - Magic Safari</h3>
            <a class="text" href="/">Home ⇒ Trips ⇒ Ladakh</a>
            <p class="card-text"></p>
        </div>
    </div>
</div>

<!-- title -->
<div style="font-size: 28px; font-weight: bold;margin-top: 80px; margin-left: 50px">Destination: Ladakh</div>
<div style="font-size: 17px; font-weight: lighter; margin-left: 50px">Ladakh is a region administered by India as a union territory. The region constitutes a part of the larger Kashmir region, which has been the subject of dispute between India, Pakistan, and China since 1947</div>

<!-- adding  -->
<div style="margin-top: 20px; margin-bottom: -16px;">
  <div class="card mb-1" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-9">
        <img src="static/Images//leh.jpg"
          style=" margin-left: 35px; margin-top: 7px; margin-bottom: 10px; height: 350px;border: 2px solid silver; border-radius: 20px"
          class="card-img-top img-rounded" alt="...">
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <div
            style="font-weight: bold; font-size: 28px; margin-left: 45px; margin-right: -410px; margin-top: 24px; color: dimgray;">
            Chadar Trek Or Zanskar frozen RiverTrek</div>
          <div style="margin-left: 40px; margin-right: -50px; text-align: center; font-weight: bold; font-size: 22px;">
            ₹25,000.00</div>
          <div style="text-align: end;">★★★★★</div>
          <div style="margin-left: 45px; margin-right: -700px; position: relative; display: flex; font-size: 17px;">
            Chadar Trek Or Zanskar Frozen River Trek 08 Nights & 09 Days The Chadar Trek or Zanskar frozen river trek is a winter…</div>
          <div style="margin-left: 45px; text-align:center; margin-right: -35px; margin-top: 30px;"><button
              type="submit" class="btn-info active"><a style="text-decoration: none;color:black" href="/Book">Book Now</button></a></div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Why us -->
<div
      style="font-weight: bold; font-size: 22px; font-style: Times New Roman; margin-left: 30px; margin-top: 16px; margin-bottom: 25px;">
      Why Us </div>
  </div>
  <div style="background-color:aliceblue" class="container">
    <div class="row">
      <div class="col-sm-4">
        We are a leading player in the travel & tourism industry across India, Magic Safari offers great offers, some of
        the lowest travel packages, exclusive discounts, and a seamless online booking experience. Hotel and holiday
        bookings through the desktop or mobile site are a delightfully customer-friendly experience, and with just a few
        clicks you can complete your booking. With features like Instant Discounts, Calendar, MyRewards Program,
        MyWallet, and many more, the overall booking experience with magic safari constantly adds value to its product
        and continues to offer the best to its customers.
      </div>
      <div class="col-sm-4">
        50 Most romantic and best Honeymoon Destinations In India Best Honeymoon Destinations In India Most romantic Honeymoon Destinations
      </div>
      <div class="col-sm-4">
        <div style="font-weight: bolder; font-size: 22px;">Reach us</div>
        <div> Magic Safari</div> Travel Planners & Event Management Company <div>Faridabad</div>121002 <br>
        <div style="font-weight: lighter; font-style:bold; font-size: 22px;">Prem Singh</div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center; margin-bottom: 35px; margin-top: 35px; font-weight: bold;">Follow Us</div>
  <div class="icons">
    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
</div>
</div>
</form>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}