{% extends 'base.html' %}
{% block content %}
<style>
    img{
        width:480px;
        height: 470px;
        border: 2px solid;
    }

    .Card-title,h1{
        align-items: center;
        position: absolute;
        font-style: normal;
        margin-top: 195px;
        margin-left: 385px;
        color: white;
    }
    .Card-title:hover{
        color: orange;
    }
    .text{
        position: absolute;
        color: white;
        font-size: 20px;
        font-style: normal;
        align-items: center;
        margin-top: 245px;
        margin-left: 495px;
    }
    .text:hover{
        color: orange;
    }

    .icons{
        text-align: center;
        margin-top: -35px;
      }
      .icons a{
        text-decoration: none;
        color: #fff;
      }
      
      .icons ion-icon{
        color: dimgray;
        font-size: 30px;
        padding-left: 14px;
        padding-top: 5px;
        transition: 0.3s ease;
        
      }
      
      .icons ion-icon:hover{
        color: #ff7200;
      }

</style>
<div class="container-fluid">
    <div class="card bg-dark text-white">
        <img src="static/Images//Raj.jpg"  class="card-img" alt="...">
        <div class="card-img-overlay">
            <h3  class="Card-title">Rajasthan Archives - Magic Safari</h3>
            <a class="text" href="/">Home ⇒ Trips ⇒ Rajasthan</a>
            <p class="card-text"></p>
        </div>
    </div>
</div>

<!-- Adding Destination -->
<div style="font-size: 28px; font-weight: bold;margin-top: 80px; margin-left: 50px">Destination: Rajasthan</div>
<div style="font-size: 16px; font-weight: lighter; margin-left: 50px; margin-right: 25px">Rajasthan  is a state in northern India.It covers 342,239 square kilometres (132,139 sq mi) or 10.4 percent of India's total geographical area. It is the largest Indian state by area and the seventh largest by population. It is on India's northwestern side, where it comprises most of the wide and inhospitable Thar Desert (also known as the Great Indian Desert) and shares a border with the Pakistani provinces of Punjab to the northwest and Sindh to the west, along the Sutlej-Indus River valley. It is bordered by five other Indian states: Punjab to the north; Haryana and Uttar Pradesh to the northeast; Madhya Pradesh to the southeast; and Gujarat to the southwest. </div>

<!-- Adding New Places -->
<div style="margin-top: 45px;">
  <div class="card-group">
    <div class="card">
      <img src="static/Images//thar.jpg" style="height: 300px; width: 410px" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div style="font-size: 20px; font-weight:bold; text-align:center; margin-top: 100px">Thar Desert </div>
        <div style=" text-align:center; margin-top: 10px"><a href="/Contact"><button type="submit" class="btn-info"><Em>ENQUIRY</Em></button></a></div>
      </div>
      <div class="card-footer">
        <div class="text-muted"></div>
      </div>
    </div>
    <div class="card">
      <img src="static/Images//rajasthan1.jpg" style="height: 300px; width: 410px" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div style="font-size: 20px; font-weight:bold; text-align:center;margin-top: 90px">Mehrangarh Fort Jodhpur</div>
        <div style=" text-align:center; margin-top: 10px"><a href="/Contact"><button type="submit" class="btn-info"><Em>ENQUIRY</Em></button></a></div>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
    <div class="card">
      <img src="static/Images//hawa mahal1.jpg" style="height: 300px; width: 410px" class="card-img-top img-thumbnail" alt="...">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text"></p>
        <div style="font-size: 20px; font-weight:bold; text-align:center;margin-top: 90px">Hawa Mahal</div>
        <div style=" text-align:center; margin-top: 10px"><a href="/Contact"><button type="submit" class="btn-info"><Em>ENQUIRY</Em></button></a></div>
      </div>
      <div class="card-footer">
        <small class="text-muted"></small>
      </div>
    </div>
  </div>
</div>


<!-- more -->
<div style="margin-top: 20px; margin-bottom: -16px;">
  <div class="card mb-1" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-9">
        <img src="static/Images//tr1.jpg"
          style=" margin-left: 35px; margin-top: 7px; margin-bottom: 10px; height: 350px;border: 2px solid silver; border-radius: 20px"
          class="card-img-top img-rounded" alt="...">
      </div>
      <div class="col-md-3">
        <div class="card-body">
          <div
            style="font-weight: bold; font-size: 28px; margin-left: 45px; margin-right: -410px; margin-top: 24px; color: dimgray;">
            Golden Triangle - 05 Nights & 06 Days</div>
          <div style="margin-left: 40px; margin-right: -50px; text-align: center; font-weight: bold; font-size: 22px;">
            ₹18,000.00</div>
          <div style="text-align: end;">★★★★★</div>
          <div style="margin-left: 45px; margin-right: -700px; position: relative; display: flex; font-size: 17px;">
            Golden Triangle 05 Nights & 06 Days Make your Trip to the land of royalsone of its kind with Magic Safari.
            Best Discounts on Golden Triangles, Rajasthan Family Tour, Honeymoon Vacation tours and weekend tour
            Packages 2021 by booking with us. Walk through the ancient alleys; listen to stories of the age[...]</div>
          <div style="margin-left: 45px; text-align:center; margin-right: -35px; margin-top: 30px;"><button
              type="submit" class="btn-info active"><a href="/Contact">View Details</button></a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- why us -->
<div
      style="font-weight: bold; font-size: 22px; font-style: Times New Roman; margin-left: 30px; margin-top: 16px; margin-bottom: 25px;">
      Why Us </div>
  </div>
  <div style="background-color:aliceblue" class="container">
    <div class="row">
      <div class="col-sm-4">
        We are a leading player in the travel & tourism industry across India, Magic Safari offers great offers, some of
        the lowest travel packages, exclusive discounts, and a seamless online booking experience. Hotel and holiday
        bookings through the desktop or mobile site are a delightfully customer-friendly experience, and with just a few
        clicks you can complete your booking. With features like Instant Discounts, Calendar, MyRewards Program,
        MyWallet, and many more, the overall booking experience with magic safari constantly adds value to its product
        and continues to offer the best to its customers.
      </div>
      <div class="col-sm-4">
        50 Most romantic and best Honeymoon Destinations In India Best Honeymoon Destinations In India Most romantic Honeymoon Destinations
      </div>
      <div class="col-sm-4">
        <div style="font-weight: bolder; font-size: 22px;">Reach us</div>
        <div> Magic Safari</div> Travel Planners & Event Management Company <div>Faridabad</div>121002 <br>
        <div style="font-weight: lighter; font-style:bold; font-size: 22px;">Prem Singh</div>
      </div>
    </div>
  </div>
</div>
<div style="text-align: center; margin-bottom: 35px; margin-top: 35px; font-weight: bold;">Follow Us</div>
  <div class="icons">
    <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
    <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
    <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
    <a href="#"><ion-icon name="logo-skype"></ion-icon></a>
    <a href="#"><ion-icon name="logo-google"></ion-icon></a>
</div>
</div>
</form>
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
{% endblock %}

